#review{
    width: 40%;
    height: 200px;
    margin-left: 20%;
}

#submit{
    margin-left: 20%;
}

#lokalizcja{
    margin-left: 20%;
    margin-bottom: 0.5%;
}

#potrawa{
    margin-left: 20%;
    margin-bottom: 0.5%;
}