img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 100px;
    height: 100px;
}

h1{
    text-align: center;
    margin-top: 100px;
}

p{
    text-align: center;
}

#log{
    text-align: right;
}

#sign{
    text-align: right;
}