#maintext{
    font-size: 1.8vw;
    margin-top: 2%;
    margin-left: 20%;
}

#napisz{
    margin-left: 20%;
    font-size: 1vw;
}

#searchbar{
    margin-left: 32%;
    border-radius: 5px;
    margin-top: 1%;
}

